.btn-primary {
  display: inline-block;
  cursor: pointer;
  background-color: #1ba4ce;
  border: 0px solid;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
}

.btn-round {
  border-radius: 25px;
}

input,
select {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
}

.nav-section {
  font-family: "Roboto", Helvetica, sans-serif;
}

.nav-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.nav-section #drop-nav {
  display: none;
}

.nav-section label[for="drop-nav"] {
  display: none;
}

.nav-section i {
  margin: 10px;
  font-size: 2.5em;
  color: #1ba4ce;
}

.nav-section .nav-logo {
  display: inline-block;
  width: 80px;
  margin: 5px;
}

.nav-section ul {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.nav-section ul .nav-item {
  display: inline-block;
  list-style-type: none;
  margin: 5px 10px;
}

.nav-section ul .nav-item a {
  color: #473452;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.home-section {
  max-width: 570px;
  padding-top: 150px;
}

.home-section header h1 {
  font-family: "Bellota", Helvetica, cursive;
  font-size: 50px;
}

.home-section header h3 {
  color: #473452;
  font-family: "Bellota", Helvetica, cursive;
  font-size: 16px;
}

.home-section p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 15px;
}

.home-section .btn-primary {
  display: inline-block;
}

.home-section .watch {
  display: inline-block;
  margin: 0px 10px;
}

.home-section .watch i {
  color: #473452;
  font-size: 1em;
  display: inline-block;
}

.home-section .watch p {
  display: inline-block;
  text-align: center;
}

.home-section .left-img {
  position: absolute;
  top: 100px;
  left: -100px;
}

.home-section .top-img {
  position: absolute;
  top: 0px;
  right: 0px;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  max-width: 855px;
  margin: auto;
  padding-top: 150px;
}

.about-section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.about-section header img {
  display: inline-block;
  width: 80px;
}

.about-section header h2 {
  font-family: "Bellota", Helvetica, cursive;
  font-size: 42px;
}

.about-section header h3 {
  color: #473452;
  font-family: "Bellota", Helvetica, cursive;
  font-size: 16px;
}

.about-section p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

.about-section .btn-primary {
  text-transform: uppercase;
}

.gallery-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  max-width: 1920px;
  padding-top: 150px;
}

.gallery-section .gallery-item {
  position: relative;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gallery-section .gallery-item .gallery-img {
  width: 100%;
}

.gallery-section .gallery-item .gallery-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 164, 206, 0.8);
  opacity: 0;
  margin: 0;
  text-align: center;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.gallery-section .gallery-item .gallery-ico img {
  height: 60px;
}

.gallery-section .gallery-item .gallery-ico h3 {
  font-family: "Bellota", Helvetica, cursive;
  font-size: 16px;
}

.gallery-section .gallery-item .gallery-ico:hover {
  opacity: 1;
}

.feature-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  max-width: 1140px;
  margin: auto;
  padding-top: 150px;
}

.feature-section h2 {
  color: #473452;
  font-family: "Bellota", Helvetica, cursive;
  font-size: 42px;
}

.feature-section p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

.feature-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature-section .container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  border: 1px solid grey;
  margin: 15px;
  padding: 20px;
}

.feature-section .container .item h3 {
  color: #473452;
  font-family: "Bellota", Helvetica, cursive;
  font-size: 22px;
}

.feature-section .container .item p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

.feature-section .container .item .item-img {
  width: 100%;
}

.feature-section .container .item .btn-primary {
  text-transform: uppercase;
  color: white;
  background-color: #30383b;
}

.feature-section .container .item:hover {
  -webkit-box-shadow: 0 5px 20px #f0f0f0;
          box-shadow: 0 5px 20px #f0f0f0;
  border: 1px solid white;
}

.feature-section .container .item:hover .btn-primary {
  text-transform: uppercase;
  color: white;
  background-color: #1ba4ce;
}

.service-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  max-width: 1140px;
  margin: auto;
  padding-top: 150px;
}

.service-section h2 {
  color: #473452;
  font-family: "Bellota", Helvetica, cursive;
  font-size: 42px;
}

.service-section p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

.service-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service-section .container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
  margin: 15px;
}

.service-section .container .item .item-img {
  width: 100%;
}

.service-section .container .item .card {
  background-color: white;
  position: absolute;
  bottom: -50px;
  max-width: 300px;
}

.service-section .container .item .card h3 {
  color: #473452;
  font-family: "Bellota", Helvetica, cursive;
  font-size: 22px;
  text-align: center;
}

.service-section .container .item .card p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

.service-section .container .item .card .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service-section .container .item .card .icons .fa-stack {
  font-size: 1em;
}

.service-section .container .item .card .icons .fa-stack:hover .fa-circle {
  color: #1ba4ce;
}

.service-section .container .item .card .icons .fa-inverse {
  background-color: #1ba4ce;
  color: white;
  border-radius: 1em;
}

.appointment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  max-width: 1920px;
  padding-top: 150px;
}

.appointment-section img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  min-width: 0px;
  width: 100%;
  height: 100%;
}

.appointment-section .container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #1ba4ce;
}

.appointment-section .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  max-width: 855px;
  padding: 100px;
  color: white;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
}

.appointment-section .container form p {
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
}

.appointment-section .container form #appointment-failed {
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  visibility: hidden;
}

.appointment-section .container form #appointment-failed.visible {
  visibility: visible;
}

.appointment-section .container form input[type=text],
.appointment-section .container form input[type=email],
.appointment-section .container form input[type=tel],
.appointment-section .container form input[type=date],
.appointment-section .container form input[type=time],
.appointment-section .container form select {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px;
  color: white;
  text-transform: uppercase;
  background-color: #1ba4ce;
  border: 0px;
  border-bottom: 1px solid white;
}

.appointment-section .container form input[type=text].invalid,
.appointment-section .container form input[type=email].invalid,
.appointment-section .container form input[type=tel].invalid,
.appointment-section .container form input[type=date].invalid,
.appointment-section .container form input[type=time].invalid,
.appointment-section .container form select.invalid {
  border-bottom: 0x;
  border: 2px solid darkred;
}

.appointment-section .container form ::-webkit-input-placeholder {
  color: white;
}

.appointment-section .container form input[type=date]::-webkit-calendar-picker-indicator,
.appointment-section .container form input[type=time]::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.appointment-section .container form label {
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px;
  text-transform: uppercase;
}

.appointment-section .container form #notes {
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px;
  text-transform: none;
}

.appointment-section .container form input[type=submit] {
  margin: 10px;
  background-color: white;
  color: #473452;
  text-transform: uppercase;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  max-width: 1920px;
  margin-top: 50px;
  padding-top: 50px;
  background-color: #1ba4ce;
  color: white;
}

.contact-section h2 {
  font-family: "Bellota", Helvetica, cursive;
  font-size: 42px;
}

.contact-section p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

.contact-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.contact-section .container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.contact-section .container .icons .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  font-family: "Roboto", Helvetica, sans-serif;
}

.contact-section .container .icons .item p {
  margin: 15px;
  text-align: left;
}

.contact-section .container .icons .item i {
  margin: 15px;
  font-size: 1em;
}

.contact-section .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  max-width: 570px;
  margin: 15px;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
}

.contact-section .container form input[type=text],
.contact-section .container form input[type=email] {
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px;
  text-transform: uppercase;
  color: white;
  background-color: #1ba4ce;
  border: 0px;
  border-bottom: 1px solid white;
}

.contact-section .container form ::-webkit-input-placeholder {
  color: white;
}

.contact-section .container form label {
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px;
  text-transform: uppercase;
  color: white;
}

.contact-section .container form #notes {
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px;
  text-transform: none;
  color: white;
}

.contact-section .container form input[type=submit] {
  margin: 10px;
  background-color: white;
  color: #473452;
  text-transform: uppercase;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  font-family: "Roboto", Helvetica, sans-serif;
  color: grey;
}

.section {
  margin: 0px 390px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  max-width: 1920px;
}

@media (max-width: 600px) {
  .section {
    margin: 0px 20px;
  }
  .home-section .left-img {
    left: -15px;
    top: 300px;
    width: 50px;
  }
  .home-section .top-img {
    display: none;
  }
  .nav-section {
    position: relative;
  }
  .nav-section label[for="drop-nav"] {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .nav-section ul {
    display: none;
  }
  .nav-section #drop-nav:checked + ul {
    display: block;
  }
  .nav-section ul {
    background-color: #1ba4ce;
  }
  .nav-section ul .nav-item {
    display: block;
    text-align: right;
    margin: 0;
  }
  .nav-section ul .nav-item a {
    color: white;
    text-align: right;
  }
  .gallery-section .gallery-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .feature-section .container .item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .service-section .container .item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=main.css.map */