$font-primary: "Roboto", Helvetica, sans-serif;
$font-secondary: "Bellota", Helvetica, cursive;
$font-primary-size: 16px;
$font-secondary-size: 15px;
$font-section-header-size: 42px;
$font-card-header-size: 22px;
$font-main-header-size: 50px;


$color-text-primary: black;
$color-text-secondary: #473452;
$color-text-teritary: white;
$color-primary: #1ba4ce;
$color-primary-opaque: rgba(27, 164, 206, 0.8);
$color-secondary: #473452;
$color-teritary: #30383b;

$font-header-size: 42px;

$body-width: 1920px;
$layout-width: 1140px;
$layout-horizontal-margin: 390px;
$nr-of-columns: 12;
$space-between-columns: 30px;