.about-section {
    @include flex(column, nowrap, center, initial);
    max-width: $layout-width * 0.75;
    margin: auto;
    padding-top: 150px;

    header {
        @include flex(column, wrap, center, initial);
        img {
            display: inline-block;
            width: 80px;
        }
        h2 {
            font-family: $font-secondary;
            font-size: $font-section-header-size;
        }
        h3 {
            color: $color-text-secondary;
            font-family: $font-secondary;
            font-size: $font-primary-size;
        }
    }

    p {
        font-family: $font-primary;
        font-size: $font-primary-size;
        text-align: center;
    }

    .btn-primary {
        text-transform: uppercase;
    }
}