.contact-section {
    @include flex(column, wrap, center, initial);
    min-width: $body-width;
    margin-top: 50px;
    padding-top: 50px;

    background-color: $color-primary;
    color: $color-text-secondary;

    h2 {
        font-family: $font-secondary;
        font-size: $font-section-header-size;
    }
    p {
        font-family: $font-primary;
        font-size: $font-primary-size;
        text-align: center;
    }

    .container {
        @include flex(row, nowrap, initial, initial);

        .icons {
            @include flex(column, nowrap, initial, initial);

            .item {
                @include flex(row, nowrap, center, initial);

                p {
                    margin: 15px;
                    text-align: left;
                }

                i {
                    margin: 15px;
                    font-size: 1em;
                }
            }
        }

        form {
            @include flex(row, wrap, initial, initial);
            width: $layout-width * 0.5;

            margin: 15px;
            
            font-family: $font-primary;
            font-size: $font-primary-size;
    
            input[type=text],
            input[type=email] {
                flex-basis: 95%;
                flex-grow: 1;
                margin: 10px;

                text-transform: uppercase;
                color: $color-text-secondary;
                background-color: $color-primary;
                border: 0px;
                border-bottom: 1px solid white;
            }

            ::-webkit-input-placeholder {
                color: $color-text-secondary;
            }

            label {
                flex-basis: 95%;
                flex-grow: 1;
                margin: 10px;
                text-transform: uppercase;
                color: $color-text-secondary;
            }

            #notes {
                flex-basis: 95%;
                flex-grow: 1;
                margin: 10px;

                text-transform: none;
                color: $color-text-secondary;
            }

            input[type=submit] {
                margin: 10px;
                background-color: white;
                color: $color-text-primary;
                text-transform: uppercase;
            }
        }
    }
}