.feature-section {
    @include flex(column, wrap, center, initial);
    width: $layout-width;
    margin: auto;
    padding-top: 150px;

    h2 {
        color: $color-text-secondary;
        font-family: $font-secondary;
        font-size: $font-section-header-size;
    }
    p {
        font-family: $font-primary;
        font-size: $font-primary-size;
        text-align: center;
    }

    .container {
        @include flex(row, nowrap, space-around, initial);

        .item {
            @include flex(column, nowrap, center, initial);

            border: 1px solid grey;
            margin: 15px;
            padding: 20px;

            h3 {
                color: $color-text-secondary;
                font-family: $font-secondary;
                font-size: $font-card-header-size;
            }

            p {
                font-family: $font-primary;
                font-size: $font-primary-size;
                text-align: center;
            }

            .item-img {
                width: 100%;
                object-fit: cover;
            }

            .btn-primary {
                text-transform: uppercase;
                color: white;
                background-color: $color-teritary;
            }

            &:hover {
                @include box-shadow;

                border: 1px solid white;

                .btn-primary {
                    text-transform: uppercase;
                    color: white;
                    background-color: $color-primary;
                }
            }
        }
    }
}