.home-section {
    width: $layout-width/2;
    margin: 0px $layout-horizontal-margin;
    padding-top: 150px;

    header {
        font-family: $font-secondary;
        h1 {
            font-size: $font-main-header-size;
        }
        h3 {
            font-size: $font-primary-size;
        }
    }

    p {
        font-family: $font-primary;
        font-size: $font-primary-size;
    }

    .btn-primary {
        display: inline-block;
    }

    .watch {
        display: inline-block;
        margin: 0px 10px;
        i {
            display: inline-block;
            vertical-align: middle;
        }
        p {
            display: inline-block;
            text-align: center;
        }
    }

    .left-img {
        position: absolute;
        top: 100px;
        left: -100px;
    }

    .top-img {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}