.nav-section {
    font-family: $font-primary;
    
    .container {
        @include flex(column, wrap, center, initial);
    }

    #drop-nav {
        display: none;
    }
    
    label[for="drop-nav"] {
        display: none;
    }

    i {
        margin: 10px;
        font-size: 2.5em;
        color: $color-primary;
    }

    .nav-logo {
        display: inline-block;
        width: 80px;
        margin: 5px;
    }
    
    ul {
        display: inline-block;
        vertical-align: top;
        text-align: center;

        .nav-item {
            display: inline-block;
            list-style-type: none;
            margin: 5px 10px;

            a {
                color: $color-text-secondary;
                font-family: $font-primary;
                font-size: $font-secondary-size;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}