.nav {
    margin: 0px $layout-horizontal-margin;
    font-family: $font-primary;
    
    .container {
        @include flex(column, wrap, center, initial);
    }

    .nav-logo {
        display: inline-block;
        width: 80px;
        margin: 5px;
    }
    
    ul {
        display: inline-block;
        vertical-align: top;
        text-align: center;

        .nav-item {
            display: inline-block;
            list-style-type: none;
            margin: 5px 10px;

            a {
                color: $color-text-primary;
                font-size: $font-secondary-size;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}