.service-section {
    @include flex(column, wrap, center, initial);
    width: $layout-width;
    margin: auto;
    padding-top: 150px;

    h2 {
        color: $color-text-secondary;
        font-family: $font-secondary;
        font-size: $font-section-header-size;
    }
    p {
        font-family: $font-primary;
        font-size: $font-primary-size;
        text-align: center;
    }

    .container {
        @include flex(row, nowrap, initial, space-around);

        .item {
            @include flex(column, nowrap, center, initial);
            position: relative;
            margin: 15px;

            .item-img {
                width: 100%;
                object-fit: cover;
            }
            
            .card {
                background-color: white;
                position: absolute;
                bottom: -50px;

                width: 300px;

                h3{
                    color: $color-text-secondary;
                    font-family: $font-secondary;
                    font-size: $font-card-header-size;
                    text-align: center;
                }
                p {
                    font-family: $font-primary;
                    font-size: $font-primary-size;
                    text-align: center;
                }
                .icons {
                    @include flex(row, nowrap, initial, space-around);

                    .fa-stack { 
                        font-size: 1em; 

                        &:hover {
                            .fa-circle {
                                color: $color-primary;
                            }
                        }
                    }

                    .fa-inverse {
                        background-color: $color-primary;
                        color: $color-text-teritary;
                        border-radius: 1em;
                    }
                }
            }
        }
    }
}