.btn-primary {
    display: inline-block;
    cursor: pointer;
    background-color: $color-primary;
    border:0px solid;
    font-family: $font-primary;
    font-size: $font-primary-size;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

.btn-round {
    border-radius: 25px;
}