.btn-primary {
    display: inline-block;
    cursor: pointer;
    background-color: $color-primary;
    border:0px solid;
    font-size: $font-primary-size;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}